@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 115vh;
    background: linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;  
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
   
}
header .logo {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1em;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 6px 15px;
    border-radius: 20px;
    background-color: #ccc;
    background-size: 100% 200%;
    background-position: 0 100%;
    transition: background-position 0.3s, color 0.3s;
  
}
.logo svg {
    margin-right: 10px;
  }
header .menu-toggle {
    display: none;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
   
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
#closeMenu{
    display: none;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
}
section img
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#stars{
    overflow-x: hidden;
    z-index: -2;
    max-width: 100vw;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
    top: 200px;
}
section img#mountains_behind
{
    top: 250px;
}

#text
{
    position: absolute;
    color: white;
    right: -350px;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    transform: translateY(100px);
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    overflow: hidden;
    transform: translateY(200px);
    
}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
}
.sec h2
{
    font-size: 3.5em;
    color: #fff;
}
.sec p
{
    flex: 1;
    font-size: 1.5em;
    color: #fff;
    flex-grow: 1;
    margin-left: 0px;
}
.content {
    margin-top: 0;
    display: flex;
  align-items: center;
  margin-bottom: 200px;
}

.container video {
    position: relative;
    left: 65%;
    min-width: 35%; 
    min-height: 100%;
    z-index: 10;
}
video::-webkit-media-controls {
    display: none;
  }
  
  video::-webkit-media-controls-enclosure {
    display: none;
  }
  
  video::-webkit-media-controls-panel {
    display: none;
  }
  @keyframes slide {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .sec hr 
  {
    border: none;
    height: 2px;
    background-color: #fff;
    animation: slide 5s ease-in-out ;
  }
  #lottie {
    flex: 1;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-left: 10%;
}

#lottie:hover {
    transform: scale(1.2); 
}
a
{
    color: #7597de;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}




.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
  


@media(max-width: 1070px) {
    header{
    padding: 30px 50px;
    }
    
    header .logo {
        font-size: 1em;
    }
    .logo svg {
        margin-right: 10px;
        width: 14px;    
      }
    header .menu-toggle {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 6px 15px;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }
    .menu.hidden {
        display: none;
      }
      button#closeMenu {
        display: inline;
        background-color: #ccc; 
        color: #fff;
        border: none;
        padding: 5px 10px; 
        border-radius: 50%;
        position: absolute;
        top: 10px; 
        right: 10px; 
        cursor: pointer;
      }


    header ul {
        display: none;
        width: 100vw;
        background-color:#2b1452e1;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }

    header ul.active {
        display: flex;
    }

    header ul li {
        margin: 10px 0;
    }

    header ul li a {
        padding: 8px 15px;
        border-radius: 5px;
    }
    section {
        padding: 50px; 
      }
      #stars-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      
      #stars {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
      }
    
      section img#moon{
        top: 30px;
      }
      section img#mountains_front{
        top: 150px;
      }
      section img#mountains_behind {
        top: 220px;
      }
    
      #text {
        right: -0px;
        font-size: 5vw;
        transform: translateY(30px); 
      }
    
      #btn {
        font-size: 1em;
        transform: translateY(100px); 
      }
      .sec {
        padding: 50px; 
      }

      .sec pre {
        font-size: 2em; 
      }

      .lottie-container {
        margin-top: 20px; 
        
        width: 480px;
         height: 480px;

      }
      .content {
        flex-direction: column; 
        align-items: center; 
    }
   

    p {
        font-size: 2em; 
        margin: 20px 0; 
       
        text-align: center; 
    }

    .lottie-container {
        margin-top: 20px; 
        
    }
    .lottie-player{
        width: 50px; height: 480px
    }    

    
    
}


@media(max-width: 847px) {
    header{
    padding: 10px 10px;
    }
    
    header .logo {
        font-size: 1em;
    }
    .logo svg {
        margin-right: 10px;
        width: 14px;    
      }
    header .menu-toggle {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 6px 15px;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }
    .menu.hidden {
        display: none;
      }
      button#closeMenu {
        display: inline;
        background-color: #ccc; 
        color: #fff; 
        border: none;
        padding: 5px 10px; 
        border-radius: 50%; 
        position: absolute;
        top: 10px; 
        right: 10px;
        cursor: pointer;
      }


    header ul {
        display: none;
        width: 100vw;
        background-color:#2b1452e1;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }

    header ul.active {
        display: flex;
    }

    header ul li {
        margin: 10px 0;
    }

    header ul li a {
        padding: 8px 15px;
        border-radius: 5px;
    }
    section {
        padding: 50px;
      }
    
      section img#moon{
        top: 30px;
      }
      section img#mountains_front{
        top: 150px;
      }
      section img#mountains_behind {
        top: 250px;
      }
      
    
      @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    #text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        color: white;
        white-space: nowrap;
        font-size: 10vw;
        z-index: -1;
        animation: fadeIn 3s ease-in-out;
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    
      
      #stars-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      
      #stars {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
      }
      
    #lottie{
        width: 80%;
    }
      #btn {
        font-size: 1em;
        transform: translateY(100px);
      }
      .sec {
        padding: 50px;
      }

      .sec pre {
        font-size: 2em;
      }

      .lottie-container {
        margin-top: 20px;
        width: 480px;
         height: 480px;

      }
      .content {
        flex-direction: column;
        align-items: center;
    }
   

    p {
        font-size: 2em;
        margin: 20px 0;
       
        text-align: center;
    }

    .lottie-container {
        margin-top: 20px;
    }
    .lottie-player{
        width: 50px; height: 480px
    } 
}





@media(max-width: 390px) {
    header{
    padding: 10px 10px;
    }
    
    header .logo {
        font-size: 1em;
    }
    .logo svg {
        margin-right: 10px;
        width: 14px;    
      }
    header .menu-toggle {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 6px 15px;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }
    .menu.hidden {
        display: none;
      }
      button#closeMenu {
        display: inline;
        background-color: #ccc; 
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px; 
        cursor: pointer;
      }


    header ul {
        display: none;
        width: 100vw;
        background-color:#2b1452e1;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }

    header ul.active {
        display: flex;
    }

    header ul li {
        margin: 10px 0;
    }

    header ul li a {
        padding: 8px 15px;
        border-radius: 5px;
    }
    section {
        padding: 50px;
      }
    
      section img#moon{
        top: 50px;
      }
      section img#mountains_front{
        top: 150px;
      }
      section img#mountains_behind {
        top: 250px;
      }
      
    
      @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    #text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        white-space: nowrap;
        font-size: 15vw;
        z-index: -1;
        animation: fadeIn 3s ease-in-out; 
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    
      
      #stars-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; 
      }
      
      #stars {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%; 
      }
      
    #lottie{
        width: 200px;
        height: 200px;
    }
      #btn {
        
        font-size: 1em;
        transform: translateY(100px); 
      }
      .sec {
        padding: 50px; 
      }

      .sec pre {
        font-size: 2em; 
      }

      .content {
        flex-direction: column; 
        align-items: center; 
    }
   

    p {
        font-size: 2em; 
        margin: 20px 0; 
       
        text-align: center; 
    }

     
}


@media(max-width: 270px) {
    header{
    padding: 10px 10px;
    }
    
    header .logo {
        font-size: 1em;
    }
    .logo svg {
        margin-right: 10px;
        width: 14px;    
      }
    header .menu-toggle {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 6px 15px;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }
    .menu.hidden {
        display: none;
      }
      button#closeMenu {
        display: inline;
        background-color: #ccc; 
        color: #fff; 
        border: none;
        padding: 5px 10px; 
        border-radius: 50%; 
        position: absolute;
        top: 10px; 
        right: 10px; 
        cursor: pointer;
      }


    header ul {
        display: none;
        width: 100vw;
        background-color:#2b1452e1;
        flex-direction: column;
        position: absolute;
        top: 0;

        
        right: 0;
        
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }

    header ul.active {
        display: flex;
    }

    header ul li {
        margin: 10px 0;
    }

    header ul li a {
        padding: 8px 15px;
        border-radius: 5px;
    }
    section {
        padding: 50px; 
      }
    
      section img#moon{
        top: 30px;
      }
      section img#mountains_front{
        top: 150px;
      }
      section img#mountains_behind {
        top: 250px;
      }
      
    
      @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    #text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -120%);
        color: white;
        white-space: nowrap;
        font-size: 15vw;
        z-index: -1;
        animation: fadeIn 3s ease-in-out; 
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    
      
      #stars-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; 
      }
      
      #stars {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%; 
      }
      
    #lottie{
        width: 200px;
        height: 200px;
    }
      #btn {
        
        font-size: 1em;
        transform: translateY(100px); 
      }
      .sec {
        padding: 50px; 
      }

      .sec pre {
        font-size: 2em; 
      }

      .content {
        flex-direction: column; 
        align-items: center; 
    }
   

    p {
        font-size: 2em; 
        margin: 20px 0; 
       
        text-align: center; 
    }

     
}